<div id="<%= dom_id address %>">
    <p>
        <%= address.house_no%>
        <%= address.first_line %>
        <%= address.second_line %>
        <%= address.county %>
        <%= address.post_code %>
    </p>
</div>
