<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset>
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name %>

      <%= form.label :description, 'Description' %>
      <%= form.text_area :description %>

      <%= form.label :starting_price, 'Starting price' %>
      <%= form.number_field :starting_price, step: 0.01 %>

      <%= form.label :images %>
      <%= form.file_field :images %>
    </fieldset>
  <div>
    <%= form.submit %>
  </div>
<% end %>
