<%= form_with(model: lot) do |form| %>
  <% if lot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
        <% lot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= form.label :item_id, 'Item' %>
    <%= form.select :item_id, items %>

    <%= form.label :notes, 'Notes' %>
    <%= form.text_area :notes %>

    <%= form.label :live_from, 'Live from' %>
    <%= form.datetime_local_field :live_from %>

    <%= form.label :live_to, 'Live from' %>
    <%= form.datetime_local_field :live_to %>
  </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>
