<div id="<%= dom_id lot %>">
    <h3>
        <%= lot.item.name %>
    </h3>
    <img src=<%= item_image_url(lot.item) %> style="width:496px;" alt="tech image">
    <p>
        <%= lot.item.description %>
    </p>
    <p>
        <%= lot.notes %>
    </p>
        <aside>
        <% if lot.live_to %>
            <p>
                Lot will finish: <%= lot.live_to %>
            </p>

            <p>
                Auction will be live for <%= distance_of_time_in_words(lot.live_to, lot.live_from) %>
            </p>
        <% end %>

    </aside>
    <p>
        Goes live on: <%= lot.live_from %>
    </p>
</div>
