<p style="color: green"><%= notice %></p>

<%= render @lot %>

<div>
  <% if owned_by_current_user(@lot) %>
    <%= link_to "Edit this lot", edit_lot_path(@lot) %>
    <%= button_to "Destroy this lot", @lot, method: :delete %>
    <%= link_to "Back to lots", lots_path %>
  <% else %>
    <%= render 'bid/form', lot: @lot %>
    <%= link_to "Back to lots", lots_path %>
  <% end %>
</div>
