<nav>
    <ul>
        <li>
        <%= link_to 'Home', '/' %>
        </li>
        <% if !current_user %>
        <li>
            <%= link_to 'Register', users_new_registration_path %>
        </li>
        <li>
            <%= link_to 'Login', users_new_session_path %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Lots', lots_path %>
        </li>
        <li>
            <%= link_to 'Auctions', live_lots_path %>
        </li>
        <li>
            <%= link_to 'My Items', items_path %>
        </li>
        <li>
            <%= link_to 'Logout', users_sign_out_path, data: { turbo_method: :delete } %>
        </li>
        <% end %>
    </ul>
</nav>
