<!DOCTYPE html>
<html>
  <head>
    <title>Auctionite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main>
      <figure>
        <%= image_tag 'default-monochrome.svg', style: 'height: 150px;' %>
      </figure>

      <%= render 'layouts/navbar' %>

      <section style="text-align: center;">
        <article>
          <%= yield %>
        </article>
      </section>
    </main>
  </body>
</html>
